html {
  font-size: 62.5% !important;
}

html body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem !important;
  color: #F8F5FA;
}

.container-fluid {
  min-height: 99vh;
  margin: 0;
  padding: 0 !important;
  background-color: #F8F5FA;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 38% !important;
  }
}

.container-fluid .btn-round {
  border-radius: 50rem;
  border: none;
  padding: 1.5rem 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transform: translateX(-8%);
          transform: translateX(-8%);
}

.container-fluid .btn-round span {
  font-size: 90%;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .add {
  background-color: #3c3649;
  color: #713FED;
  font-size: 1.6rem;
}

.container-fluid .add:hover {
  color: #3c3649;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.container-fluid .add:focus {
  color: #713FED;
}

.container-fluid .add::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn-text {
  text-decoration: none;
  color: #3c3649;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
}

.btn-text:hover {
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #713FED;
  color: #713FED;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.btn-text:focus {
  color: #713FED;
  border-bottom: none;
  font-weight: 700;
}

.btn-text:active {
  font-weight: 700;
  border-bottom: none;
  color: #713FED;
}

.heading {
  height: 22rem;
  background-color: #713FED;
}

.heading--logo {
  width: 16rem;
  position: relative;
  top: 3rem;
  left: 3rem;
}

.heading__text {
  position: relative;
  top: 6rem;
  left: 3rem;
  font-size: 1.4rem;
  margin-top: 3rem;
  width: 90%;
}

.heading__text--img {
  border-radius: 10rem;
  background-color: beige;
  padding: 1rem;
  width: 4rem !important;
  margin-right: 1rem;
}

.heading__text--name {
  text-transform: capitalize;
  font-weight: 500;
}

.nav-left {
  margin-top: 5rem;
}

.nav-left ul li {
  list-style-type: none;
  text-transform: capitalize;
  color: #3c3649;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  .col-xs-12 {
    padding: 0 !important;
  }
  .heading {
    left: 0%;
  }
}

.card__container {
  position: relative;
  left: 18%;
  margin-top: -30rem;
  color: #3c3649 !important;
  width: 77%;
  height: 80vh;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.card__container .active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__container .hidden {
  display: none;
}

.card__container .overview {
  width: 100%;
  color: #3c3649;
}

.card__container .overview canvas {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 150px !important;
  height: 190px !important;
}

.card__container .overview--heading {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-transform: capitalize;
  width: 100%;
}

.card__container .overview--heading h2 {
  font-size: 2.4rem;
}

.card__container .overview--heading p {
  font-size: 1.4rem;
  margin-top: .7rem;
}

.card__container .overview--heading h2, .card__container .overview--heading p {
  color: #3c3649;
  margin: 0 !important;
}

.card__container .overview__top {
  margin-top: 1rem;
}

.card__container .overview__bottom {
  margin-top: 2%;
}

.card__container .overview__card {
  width: 50rem;
}

.card__container .overview__card--title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.card__container .overview__card--title .chead {
  font-size: 1.4rem;
  color: #3c3649;
  text-transform: capitalize;
}

.card__container .overview__card--title a {
  text-decoration: none;
  color: #713FED;
  font-size: 1rem;
}

.card__container .overview__card .chart__container {
  height: 19rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__container .overview__card .chart__container .info > div {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.card__container .overview__card .chart__container .info > div:not(:last-child) {
  margin-bottom: .5rem;
}

.card__container .overview__card .chart__container .info > div span {
  font-weight: 500;
}

.card__container .overview__card .chart__container .info {
  margin-top: 3rem;
  margin-right: 5rem;
}

.card__container .overview__card .chart__container .info .status span {
  color: #39E5AE;
}

.card__container .overview__card .chart__container .thath {
  height: 150px;
  width: 100px;
  margin-left: 10rem;
  background-color: aquamarine;
}

.cont--heading {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-transform: capitalize;
  width: 100%;
}

.cont--heading h2 {
  font-size: 2.4rem;
}

.cont--heading p {
  font-size: 1.4rem;
  margin-top: .7rem;
}

.cont--heading h2, .cont--heading p {
  color: #3c3649;
  margin: 0 !important;
}
.stats{
  display: none;
}

.stats--top {
  margin-top: 3rem;
  width: 100%;
  height: 35%;
}

.stats--top .lchart--cont {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #713FED;
  height: 15rem;
  width: 30%;
}

.stats--top .lchart--cont:not(:last-child) {
  margin-right: 3rem;
}

.stats--bottom {
  margin-top: 7rem;
  width: 100%;
}

.stats--bottom .lchart--cont {
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  height: 30rem;
  width: 65%;
}

.stats--bottom .lchart--cont canvas {
  height: 80% !important;
  width: 80% !important;
}

.stats--bottom .lchart--cont .menu--cont {
  width: 100%;
}

.devices {
  display: none;
}

.devices--cont__table {
  color: #3c3649 !important;
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
}

.devices--cont__table th,
.devices--cont__table td {
  padding: 8px;
  text-align: left;
}

.devices--cont__table th {
  text-transform: uppercase;
  font-weight: 500;
  color: #713FED;
}

.devices--cont__table tr:not(:first-child) {
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.devices--cont__table .status {
  text-transform: uppercase;
  font-weight: 700;
  color: #39E5AE;
}

.dropdown {
  margin-left: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.4rem;
}

.dropdown label.dropdown--label {
  position: relative;
  height: 45px;
  width: 150px;
  line-height: 46px;
  display: inline-block;
}

.dropdown label.dropdown--label .dropdown--checkbox {
  position: absolute;
  left: -2000000px;
}

.dropdown label.dropdown--label .dropdown--text {
  cursor: pointer;
  border: 2px solid #DEE5FF;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px #DEE5FF;
          box-shadow: 0 2px 4px #DEE5FF;
  display: block;
  width: 100%;
  background: #fff;
  color: #262E47;
  font-weight: bold;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dropdown label.dropdown--label .dropdown--text .dropdown--arrow {
  width: 10px;
  height: 10px;
  border-right: 2px solid #616D90;
  border-bottom: 2px solid #616D90;
  margin-left: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  position: relative;
  top: -2px;
}

.dropdown label.dropdown--label .dropdown--list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  top: 50%;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  -webkit-box-shadow: 0px 14px 43px 0px #DEE5FF;
          box-shadow: 0px 14px 43px 0px #DEE5FF;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  overflow: hidden;
  max-height: 200px;
}

.dropdown label.dropdown--label .dropdown--list::-webkit-scrollbar {
  width: 10px;
}

.dropdown label.dropdown--label .dropdown--list::-webkit-scrollbar-track {
  backrgound: #fff;
  border-left: 1px solid #DEE5FF;
}

.dropdown label.dropdown--label .dropdown--list::-webkit-scrollbar-thumb {
  background: #DEE5FF;
  border-radius: 5px;
}

.dropdown label.dropdown--label .dropdown--list::-webkit-scrollbar-thumb:hover {
  background: #cfd8f7;
}

.dropdown label.dropdown--label .dropdown--list ul {
  padding: 0;
  margin: 0;
}

.dropdown label.dropdown--label .dropdown--list ul li a {
  white-space: nowrap;
  text-decoration: none;
  color: #333A52;
  display: block;
  padding: 5px 20px;
}

.dropdown label.dropdown--label .dropdown--list ul li a:hover {
  background: #F7F9FD;
}

.dropdown label.dropdown--label .dropdown--checkbox:checked ~ .dropdown--list {
  top: 120%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.dropdown label.dropdown--label .dropdown--checkbox:checked ~ .dropdown--text .dropdown--arrow {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 5px;
}

.link {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.link a {
  color: #b7c1e8;
  text-decoration: none;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */